<div class="about">
    <h1> About Component</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quos, accusantium voluptates cupiditate ducimus enim iusto sequi dolorum tenetur reiciendis aliquam voluptatem dolores possimus qui tempora consequuntur accusamus, libero et.</p>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi necessitatibus neque atque, reiciendis eius possimus odio tempore quas. Necessitatibus deserunt, rem repellat ut debitis quam aliquid nam culpa quo odit nihil quis libero corrupti fuga voluptate illo eius, optio architecto inventore, iste ipsum! Sequi facere necessitatibus mollitia voluptate soluta reprehenderit!</p>
</div>

